@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&family=Julius+Sans+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Julius+Sans+One&family=Manrope:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

/* COMEÇO COMANDOS REPETIDOS */
.linha1pxHZ{
  height: 1px;
  background-color: white;
}
/* FIM COMANDOS REPETIDOS */

#projLink2{
  margin-left: 50%;
}

.centralizar{
  display: flex;
  align-content: center;
}

#espacamentoNav{
  height: 12vh;
}

/* COMEÇO DA NAVBAR */
#navbar {
  height: 12vh;
  background-color: #212226;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 2.5s ease;
  position: fixed;
  width: 100vw;
}

#navbar:hover {
  background-color: #212226df;
}

#logoNavbar {
  margin: 30px;
}

#listaNavbar > ul > li > a {
  color: white;
  text-decoration: none;
  margin: 15px;
  font-family: "inter";
  transition: opacity 0.3s ease;
  font-weight: 300;
}

#listaNavbar > ul > li > a:hover {
  opacity: 30%;
}

#listaNavbar > ul {
  margin-right: 100px;
}

#listaNavbar > ul > li {
  list-style: none;
  display: inline;
}

/* FIM DA NAVBAR */




/* COMEÇO C1 */
#c1{
  height: 80vh;
  width: 100vw;
  background-color: white;
  display: flex;
  box-sizing: content-box;
}

#leftC1{
  height: 80vh;
  width: 70vw;
  background-image: linear-gradient(#a5a5a5, #E1E1E1, #E1E1E1, #E1E1E1, #E1E1E1);
  display: flex;
}

#contLC1{
  height: 70vh;
  width: 70vw;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 10% 90%;
}

#tituloLC1{
  align-self: center;
  grid-column: 2;
  padding-top: 7.5%;
  padding-bottom: 3%;
}

#tituloLC1 h1{
  color: #212226;
  font-size: 5.5em;
  font-family: 'Raleway';
  font-weight: 350;
}

#underline{
  height: 2px;
  background-color: #21222657;
  width: 28em;
}

#textoLC1{
  font-family: 'Manrope';
  grid-column: 2;
  font-weight: 300;
  padding-right: 15%;
}

#textoLC1 p{
  color:#212226;
  font-size: 2em;
}

#rightC1{
  width: 30%;
  height: 100%;
  background-color: #212226;
  margin-left: 1px;
}

#contRC1{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 45% 55%;
}

#tituloRC1{
color: #E1E1E1;
align-self: center;
padding-left: 15%;
padding-top: 7.5%;
}

#tituloRC1 h1{
  font-size: 4em;
  font-family: 'Raleway';
  font-weight: 300;
}

#underline2{
  width: 15em;
  height: 2px;
  background-color: #E1E1E1;
}

#listaRC1 ul{
padding-left: 15%;
}

#listaRC1 ul li{
  list-style: none;
  padding-bottom: 5%;
}

#listaRC1 ul li a{
  color: #E1E1E1;
  text-decoration: none;
  font-size: 2em;
  font-family: 'Manrope';
}



/* From Uiverse.io by reshades */ 
.button {
  background-color: #3C3D40;
  color: #fff;
  width: 3.5em;
  height: 3.5em;
  border: #27282a 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  margin-left: 5%;
}

.button:hover {
  background-color: #E1E1E1;
  cursor: pointer;
  color: #212226;
}

.button svg {
  width: 1.6em;
  display: flex;
  transition: all 0.6s ease;
  justify-self: center;
}

.button:hover svg {
  transform: translateX(3px);
}

.text {
  color: transparent;
}
/* FIM C1 */



/* COMEÇO C2 */

#C2{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 42.5% 57.5%;
  grid-template-rows: 80% 20%;
  background-color: #3C3D40;
}

#LC2{
  width: 100%;
  height: 100%;
  display: grid;
}

#RC2{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
}

#boxLC2{
  height: 90%;
  width: 70%;
  background-color: #666A73;
  align-self: center;
  justify-self: center;
  border-radius: 50px;
  margin-top: 5%;
}

#boxTopRC2{
  height: 100%;
  grid-row: 1;
  align-content: center;
}

#boxBottomRC2{
  height: 100%;
  grid-row: 2;
  align-content: center;
}

#contTopRC2{
  width: 90%;
  height: 80%;
  background-color: #666A73;
  align-self: center;
  justify-self: center;
  border-radius: 30px;
}

#contBottomRC2{
  width: 90%;
  height: 80%;
  background-color: #666A73;
  align-self: center;
  justify-self: center;
  border-radius: 30px;
}

#menuHorizontal{
  width: 60%;
  height: 60%;
  background-color: #D9D9D9;
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
  justify-self: center;
  border-radius: 75px;
}


#C3{
  height: 80vh;
  background-color: #666A73;
}

